.main {
    font-size: 28px;
    padding: 0px 10px;
}

.circle_border {
    border: 1px solid gray;
    border-radius: 30px;
    max-width: 25%;
    margin-left: 20px;
    float: left;
}

.bar_border {
    border: 1px solid gray;
    border-radius: 30px;
    margin-left: 20px;
    min-width: 25%;
    min-height: 430px;
    float: left;
}

.svg_border {
    border: 1px solid gray;
    border-radius: 30px;
    min-width: 40%;
    min-height: 430px;
    margin-left: 20px;
    float: left;
}

.nav {
    border: 40px solid white;
}

.statistics_logo {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 10px;
}