.main {
    font-size: 28px;
    padding: 0px 10px;
}


.nav {
    border: 40px solid white;
}

.statistics_logo {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 10px;
}