.main {
    font-size: 28px;
    padding: 0px 10px;
}

.chart_border {
    border: 1px solid gray;
    border-radius: 10px;
    max-width: 30%;
    margin-left: 20px;
}

.nav {
    border: 40px solid white;
}

.statistics_logo {
    justify-content: center;
    align-items: center;
    display: flex;
}