$blue-back : #81B8CF;
$black_border : 2px solid black;
$green_border : 1px solid #0D8F26;

.test_title {
    display: flex;
    text-align: center;
    justify-content: center;
}

//KaiChem header 내용A

.compound_info_header {
    // border: 1px solid red;
    position: relative;
    height: 50px;

}

.kaichem_id_border {
    display: flex;
    bottom: 0;
}

.kaichem_id {
    font-weight: bold;
    background: coral;
    font-size: 20px;
    border: 2px solid black;
    color: black;
    min-width: 150px;
    height: 50px;
}

.kaichem_id_value {
    min-width: 150px;
    height: 20px;
    text-align: center;
    border: 2px solid black;
    font-size: 20px;
    height: 50px;
}

.kaipharm_chem_index_div {
    position: relative;
    top: 0;
    right: 0;
    position: absolute;
}

.kaipharm_chem_index_button {
    float: left;
    font-size: 35px;
    color: $blue-back;

    &:hover {
        cursor: pointer;
        color: blue;
    }
}

.kaipharm_chem_index {
    float: left;
}

.kaipharm_chem_index_header {
    border: $green_border;
    background: #ACE5B7;
    text-align: center;
    color: black;
    width: 200px;
    font-size: 15px;
}

.kaipharm_chem_index_body {
    border: $green_border;
    background: #ACE5B7;
    color: black;
    max-width: 200px;
    vertical-align: middle;
    font-size: 17px;
    text-align: center;
}

//Acebutolol hydrochloride

.compound_info_hydrochloride {
    border: 2px solid black;
    font-size: 25px;
    padding: 10px;
}

// pubchem API image

.compound_info_body {
    width: 100%;
    height: 700px;
}

.pubchem_body_left {
    border-bottom: $black_border;
    border-left: $black_border;
    width: 30%;
    min-height: 50%;
    float: left;
    padding: 30px;
}

.pubchem_body_right {
    border-right: $black_border;
    border-left: $black_border;
    border-bottom: $black_border;
    width: 70%;
    height: 100%;
    float: right;
}

.pubchem_cid_table_border {
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.pubchem_cid_tr_border {
    text-align: center;
    justify-content: center;
}

.table-bordered tr {
    border: $black_border;
}


.table-bordered tr td {
    border: $black_border;
}

.pubchem_cid {
    background: $blue-back;
    color: black;
    min-width: 120px;
    font-weight: bold;
    height: 50px;
    font-size: 13px;
}

.pubchem_cid_value {
    min-width: 150px;
    max-width: 200px;
    font-size: 15px;
    text-align: center;
}

.inchikey_value {
    width: 100%;
    font-size: 14px;
}

.kmap-2k-subset-border {
    margin-left: 20px;
    margin-top: 30px;
    float: left;
}

.kmap-2k-subset {
    font-size: 14px;
    padding: 20px;
    font-weight: bold;
}

.kmap-2k-subset-value {
    padding: 20px;
    font-size: 14px;
    font-weight: bold;
}

.ipk_border {
    margin-left: 40px;
    margin-top: 30px;
    float: left;

    td {
        font-size: 22px;
        padding-left: 5px;
    }
}

.pubchem-right-image {
    border: $black_border;
    margin-left: 50px;
    margin-top: 30px;
    margin-right: 20px;
    width: 30%;
    min-height: 50%;
    float: right;
    padding: 30px;
}