.main {
    margin-left: 160px;
    font-size: 28px;
    padding: 0px 10px;
}

.search_box {
    text-align: left;
}

.search_input {
    width: 20%;
    margin: 10px 20px;
    background: white;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 5px;
}

.ExcelInfoList {
    min-height: 320px;
    max-height: 513px;
    overflow-y: auto;
}