$orange_color  : #ff8000;
$black_color : #000000;
$blue_color : #304d91;

.sheet_body {
    font-size: 13.5px;
    height: 500px;
}

.cols_header {
    font-size: 13.5px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #e7e4de;
    text-align: center;
}

.header_color {
    background: $black_color;
    color: #e7e4de;
}

.row_border {
    border: 1px solid $black_color;
}

.fixedHeader {
    position: sticky;
    top: 0;
}