.main {
    font-size: 28px;
    padding: 0px 10px;
}

.nav {
    border: 40px solid white;
}

.kai_logo {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 10px;
}

.div_border {
    margin-right: auto;
    margin-left: auto;
    // border: 1px solid blue;
    width: 80%;
}

.search_input {
    width: 20%;
    padding: 15px;
    font-size: 12px;
    border: 1px solid coral;
    color: black;
    outline: none;
    box-sizing: border-box;
}

.test_div {
    width: 18%;
    border: 1px solid coral;
    overflow-y: scroll;
    overflow: hidden;
    padding: 12px;
    z-index: 1;
    background: white;
    position: absolute;
}

.search_font {
    font-size: 20px;
    padding: 8px;

    &:hover {
        cursor: pointer;
        color: coral;
    }
}