.main {
    font-size: 28px;
    padding: 0px 10px;
}


.nav {
    border: 40px solid white;
}

.kai_logo {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 10px;
}

.div_border {
    margin-right: auto;
    margin-left: auto;
    // border: 1px solid blue;
    width: 80%;
}