.sidenav {
    width: 100%;
    display: flex;
    left: 0;
    top: 0;
    z-index: 1;
    right: 0;
    min-width: 160px;
    position: fixed;
    background-color: white;
    border-bottom: 1px solid #111;
    overflow-x: hidden;
    padding-top: 20px;

    a:hover {
        color: black;
        text-decoration: none;
    }

    .logout {
        position: absolute;
        margin-right: 10px;
        right: 0;
    }
}

.kmap_nav_title {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: coral;
    display: block;
}

.main {
    margin-left: 160px;
    font-size: 28px;
    padding: 0px 10px;
}