.sidenav {
    width: 100%;
    display: flex;
    left: 0;
    top: 0;
    right: 0;
    min-width: 160px;
    position: fixed;
    background-color: white;
    border-bottom: 1px solid #111;
    overflow-x: hidden;
    padding-top: 20px;

    a:hover {
        color: coral;
        text-decoration: none;
    }
}

.kmap_nav_title {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #111;
    display: block;
}

.link {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}


.main {
    margin-left: 160px;
    font-size: 28px;
    padding: 0px 10px;
}